<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Control Almacen C.E.I</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"   >

                <p:layoutUnit position="north"   size="120"   >
                   <h2 align="center" >  Lista Items </h2>  
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" >

                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>

                </p:layoutUnit>

               <p:layoutUnit position="west" size="175" header="Left" >
                    <p:menu>
                        <p:submenu label="Items"> 
                            <p:menuitem value="Items" url="vItems.xhtml" /> 
                              <p:menuitem value="Nuevo Item" url="vNvoItem.xhtml"  />
                            <p:menuitem value="Mano de Obra" url="vMobra.xhtml"  />
                            <p:menuitem value="Materiales" url="vMaterial.xhtml"  />
                            <p:menuitem value="Equipo" url="vEquipo.xhtml"  />
                        </p:submenu>
                        <p:menuitem value="Proveedores" url="vProveedores.xhtml"  />   
                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center"   >
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "  id="dlgstock"  >

                        <h:form id ="nvobrero">


                            <p:panel  id="dlgobrero" >
                                <p:growl id="messages" />
                                

                                <p:dataTable var="ob" value="#{bitems.items}"   rows="10"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15">  >
                                    <p:column headerText="Nro" width="5%" sortBy="#{ob.itmesID}" >
                                        <h:outputText value="#{ob.itmesID}" />
                                    </p:column>
                                    <p:column headerText="Descripcion"  sortBy="#{ob.descripcion}" >
                                        <h:outputText value="#{ob.descripcion}" />
                                    </p:column>
                                    <p:column headerText="U.Medida" sortBy= "#{ob.umedida}" >
                                        <h:outputText value="#{ob.umedida}" />
                                    </p:column>
                                    <p:column headerText="Precio" sortBy= "#{ob.precio}" >
                                        <h:outputText value="#{ob.precio}" />
                                    </p:column>


                                    <p:column style="width:32px">  
                                        <p:commandButton  image="ui-icon ui-icon-search"  > 
                                        </p:commandButton>  
                                    </p:column> 



                                </p:dataTable>

                            </p:panel>
                            <p:dialog modal="true" widgetVar="dlg" showEffect="fade" hideEffect="fade" header="Selected Colors" resizable="false">
                                <h:panelGrid id="grid" columns="2" cellpadding="5">
                                    <h:outputText value="Inline color: " />
                                    <h:outputText value="#{colorView.colorInline}" style="background-color: \##{colorView.colorInline}" />

                                    <h:outputText value="Popup color: " />
                                    <h:outputText value="#{colorView.colorPopup}" style="background-color: \##{colorView.colorPopup}" />
                                </h:panelGrid>
                            </p:dialog> 

                        </h:form>

                    </p:panel>
                </p:layoutUnit>

            </p:layout>


        </h:body>

    </f:view>
</html>







