<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Control Almacen C.E.I</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"   >

                <p:layoutUnit position="north"   size="120"   >
                    <h2 align="center" >  Gestionar Items </h2>  

                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" >

                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>

                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" >
                    <p:menu>
                        <p:submenu label="Items"> 
                            <p:menuitem value="Items" url="vItems.xhtml" /> 
                            <p:menuitem value="Nuevo Item" url="vNvoItem.xhtml"  />
                            <p:menuitem value="Mano de Obra" url="vMobra.xhtml"  />
                            <p:menuitem value="Materiales" url="vMaterial.xhtml"  />
                            <p:menuitem value="Equipo" url="vEquipo.xhtml"  />
                        </p:submenu>
                        <p:menuitem value="Proveedores" url="vProveedores.xhtml"  />   
                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center"   >
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "  id="dlgstock"  >

                        <h:form id ="nvobrero">


                            <p:panel  id="dlgobrero" >
                                <p:growl id="messages" />
                                <table>
                                    <tr>
                                        <td  style="width:50%">
                                            <table>
                                                <tr>
                                                     <td><h:outputLabel  value="Descripcion :" />  </td>
                                                     <td> <p:inputText value="#{bnvoitem.descripcion}" size="20" placeholder="DESCRIPCION"  required="true" requiredMessage="INGRESE DESCRIPCION" /></td>
                                                </tr>
                                                <tr>
                                                    <td><h:outputLabel  value="Categoria :" />  </td>
                                                    <td><p:selectOneMenu id="catego" value="#{bnvoitem.categoria}" filter="true" filterMatchMode="contains" required="true" requiredMessage="CATEGORIA" >
                                                            <f:selectItem itemLabel="CATEGORIA" itemValue="" />
                                                            <f:selectItems value="#{bnvoitem.categorias}" />
                                                        </p:selectOneMenu>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><h:outputLabel  value="Color :" />  </td>

                                                    
                                                    <td><p:colorPicker value="#{bnvoitem.color}" />  </td>
                                                </tr>
                                                <tr>
                                                    <td><h:outputLabel  value="Tipo :" />  </td>
                                                    <td><p:selectOneMenu id="tipos" value="#{bnvoitem.tipo}" required="true" requiredMessage="TIPO" >
                                                            <f:selectItem itemLabel="Tipo" itemValue="" />
                                                            <f:selectItems value="#{bnvoitem.tipos}"/>
                                                        </p:selectOneMenu>
                                                    </td>
                                                </tr>

                                                <tr> 
                                                    <td><h:outputLabel  value="UMedida :" />  </td>    
                                                    
                                                    <td><p:selectOneMenu id="umedida" value="#{bnvoitem.umedida}" required="true" requiredMessage="UMedida" >
                                                            <f:selectItem itemLabel="UMedida" itemValue="" />
                                                            <f:selectItems value="#{bnvoitem.medidas}"/> </p:selectOneMenu>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <h:form>
                                                        <td><p:commandButton value="ADICIONAR"    actionListener="#{bnvoitem.GuardarItem(e)}"  
                                                                             update=":nvobrero:dlgobrero"  />
                                                        </td>
                                                    </h:form>
                                                </tr>

                                            </table>
                                            <table>

                                                <tr>
                                                    <td>
                                                        <p:selectOneMenu value="#{bnvoitem.material}"  filter="true"  required="true" filterMatchMode="contains" >
                                                            <f:selectItem itemLabel="Materiales" />
                                                            <f:selectItems value="#{bnvoitem.materiales}" /> </p:selectOneMenu>
                                                    </td>

                                                    <td><p:inputText value="#{bnvoitem.cmaterial}" placeholder="CANTIDAD" required="true" /></td>
                                                    <td> <p:commandButton value="Agregar"  update=":nvobrero:dlgobrero" actionListener="#{bnvoitem.adicionarElemento(e)}" /></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <p:selectOneMenu value="#{bnvoitem.mobra}" filter="true"  required="true" filterMatchMode="contains" >
                                                            <f:selectItem itemLabel="MObra" itemValue="" />
                                                            <f:selectItems value="#{bnvoitem.mobras}"  />
                                                        </p:selectOneMenu>
                                                    </td>

                                                    <td><p:inputText value="#{bnvoitem.cmano}" size="20" placeholder="CANTIDAD"  /></td>
                                                    <td> <p:commandButton value="Agregar"   update=":nvobrero:dlgobrero"  actionListener="#{bnvoitem.adicionarMobra(e)}"/>  </td>         
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <p:selectOneMenu value="#{bnvoitem.equipo}" filter="true" required="true" filterMatchMode="contains" >
                                                            <f:selectItem itemLabel="Materiales" itemValue="" />
                                                            <f:selectItems value="#{bnvoitem.equipos}"  />
                                                        </p:selectOneMenu>
                                                    </td>

                                                    <td><p:inputText value="#{bnvoitem.cequipo}" size="20" placeholder="CANTIDAD" /></td>
                                                    <td> <p:commandButton value="Agregar"  update=":nvobrero:dlgobrero"  actionListener="#{bnvoitem.adicionarEquipo(e)}"  /> </td>
                                                </tr>
                                            </table>
                                            <h2  > Total Item : <h:outputText value="#{bnvoitem.total}" /> </h2> 
                                        </td>
                                        <td  style="width:50%" >
                                            <h3> MATERIALES </h3>
                                            <p:dataTable var="p" id="tedetalle" value="#{bnvoitem.lista}"  scrollable="true" 
                                                         editable="true"    >


                                                <p:column headerText="Nombre Producto" style="width:100%"  >
                                                    <h:outputText value="#{p.material.descripcion}" />
                                                </p:column>
                                                <p:column headerText="UMedida"   >                                       
                                                    <h:outputText value="#{p.umedida}" />
                                                </p:column>
                                                <p:column headerText="P/Unitario" style="width:25%">
                                                    <h:outputText value="#{p.precio}" />                                        
                                                </p:column>

                                                <p:column headerText="Cantidad" style="width:25%">
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{p.cantidad}" /></f:facet>
                                                        <f:facet name="input"><p:inputText  value="#{p.cantidad}" /></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="subTotal" style="width:25%">
                                                    <h:outputText value="#{p.subTotal}" />  
                                                </p:column>

                                                <p:column style="width:32px">  
                                                    <p:commandButton  image="ui-icon ui-icon-search" action="#{bnvoitem.deleteAction(p)}"  update=":nvobrero:dlgobrero" > 
                                                    </p:commandButton>  
                                                </p:column>
                                                <f:facet name="footer"  >
                                                    Total : #{bnvoitem.totalMaterial} 
                                                </f:facet>


                                            </p:dataTable>
                                            <h3> MANO DE OBRA </h3>
                                            <p:dataTable var="pa" id="tedemano" value="#{bnvoitem.listamano}"  scrollable="true" 
                                                         editable="FALSE"   >

                                                <p:column headerText="Nombre Producto" style="width:100%"  >
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{pa.mano.descripcion}" /></f:facet>
                                                        <f:facet name="input"><p:inputText  value="#{pa.mano.descripcion}" /></f:facet>
                                                    </p:cellEditor>

                                                </p:column>

                                                <p:column headerText="UMedida"   >
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{pa.umedida}" /></f:facet>
                                                        <f:facet name="input"><p:inputText value="#{pa.umedida}" /></f:facet>
                                                    </p:cellEditor>

                                                </p:column>

                                                <p:column headerText="P/Unitario" style="width:25%">
                                                    <h:outputText value="#{pa.precio}" />                                        
                                                </p:column>

                                                <p:column headerText="Cantidad" style="width:25%">
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{pa.cantidad}" /></f:facet>
                                                        <f:facet name="input"><p:inputText id="model" value="#{pa.cantidad}" /></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="subTotal" style="width:25%">
                                                    <h:outputText value="#{pa.subTotal}" />  
                                                </p:column>

                                                <p:column style="width:32px">  
                                                    <p:commandButton  image="ui-icon ui-icon-search" action="#{bnvoitem.deleteActionMano(pa)}"  update=":nvobrero:dlgobrero" > 


                                                    </p:commandButton>  
                                                </p:column>           
                                                <f:facet name="footer"  >
                                                    Total : #{bnvoitem.totalMObra} 
                                                </f:facet>

                                            </p:dataTable>
                                            <h3> EQUIPOS </h3>
                                            <p:dataTable var="p" id="tdetequipo" value="#{bnvoitem.litaequipo}"  scrollable="true" 
                                                         editable="FALSE" editMode="cell"   >


                                                <p:column headerText="Nombre Producto"  style="width:100%"  >
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{p.equipos.descripcion}" /></f:facet>
                                                        <f:facet name="input"><p:inputText  value="#{p.equipos.descripcion}" /></f:facet>


                                                    </p:cellEditor>

                                                </p:column>

                                                <p:column headerText="UMedida"   >
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{p.umedida}" /></f:facet>
                                                        <f:facet name="input"><p:inputText value="#{p.umedida}" /></f:facet>
                                                    </p:cellEditor>

                                                </p:column>
                                                <p:column headerText="P/Unitario" style="width:25%">
                                                    <h:outputText value="#{p.precio}" />                                        
                                                </p:column>

                                                <p:column headerText="Cantidad" style="width:25%">
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{p.cantidad}" /></f:facet>
                                                        <f:facet name="input"><p:inputText id="model" value="#{p.cantidad}" /></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="subTotal" style="width:25%">
                                                    <h:outputText value="#{p.subTotal}" />  
                                                </p:column>

                                                <p:column style="width:32px">  
                                                    <p:commandButton  image="ui-icon ui-icon-search" action="#{bnvoitem.deleteActionEquipo(p)}"  update=":nvobrero:dlgobrero" >

                                                    </p:commandButton>  
                                                </p:column>           

                                                <f:facet name="footer"  >
                                                    Total : #{bnvoitem.totalEquipo} 
                                                </f:facet>
                                            </p:dataTable>

                                        </td>


                                    </tr>
                                </table>






                            </p:panel>					 	 

                        </h:form>

                    </p:panel>
                </p:layoutUnit>

            </p:layout>


        </h:body>

    </f:view>
</html>






