<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Control Almacen C.E.I</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"   >

                <p:layoutUnit position="north"   size="120"   >
                    <h2 align="center" >  Gestionar Proveedores </h2>     
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" >

                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>

                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" >
                    <p:menu>
                        <p:submenu label="Items"> 
                            <p:menuitem value="Items" url="vItems.xhtml" /> 
                              <p:menuitem value="Nuevo Item" url="vNvoItem.xhtml"  />
                            <p:menuitem value="Mano de Obra" url="vMobra.xhtml"  />
                            <p:menuitem value="Materiales" url="vMaterial.xhtml"  />
                            <p:menuitem value="Equipo" url="vEquipo.xhtml"  />
                        </p:submenu>
                        <p:menuitem value="Proveedores" url="vProveedores.xhtml"  />   
                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center"   >
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "  id="dlgstock"  >

                        <h:form id ="nvobrero">


                            <p:panel  id="dlgobrero" >
                                <p:growl id="messages" />
                                <table>
                                    <tr>
                                        <td>
                                             <h:outputLabel  value="Descripcion :" /> 
                                        </td>
                                        <td> <p:inputText value="#{bproveedro.descripcion}" size="20" placeholder="DESCRIPCION"  required="true" requiredMessage="INGRESE DESCRIPCION" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <h:outputLabel  value="Telefonos :" /> 
                                        </td>
                                        <td> <p:inputText value="#{bproveedro.telefonos}" size="20" placeholder="TELEFONOS"  required="true" requiredMessage="INGRESE TELEFONOS" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <h:outputLabel  value="Categoria :" /> 
                                        </td>
                                        

                                        <td><p:selectOneMenu id="tipo" value="#{bproveedro.categoria}" required="true" requiredMessage="CATEGORIA" filter="true"  filterMatchMode="contains" >
                                                <f:selectItem itemLabel="CATEGORIAS" itemValue="" />
                                                <f:selectItems value="#{bproveedro.categorias}" />
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <h:outputLabel  value="Ubicacion :" /> 
                                        </td>
                                         <td> <p:inputText value="#{bproveedro.ubicacion}" size="20" placeholder="UBICACION"  required="true" requiredMessage="INGRESE UBICACION" /></td>
                                    </tr>
                                    


                                    <tr>
                                       
                                        <h:form>
                                            <td><p:commandButton value="ADICIONAR"    actionListener="#{bproveedro.addEquipo(e)}"  
                                                                 update=":nvoTabla"  />
                                            </td>
                                            <td><p:commandButton value="MODIFICAR"    actionListener="#{bproveedro.modificar(e)}"  
                                                                 update=":nvoTabla"  />
                                            </td>
                                        </h:form>
                                    </tr>

                                </table>
                            </p:panel>	
                        </h:form>
                        <h:form id="nvoTabla" >
                            <p:dataTable var="ob" value="#{bproveedro.provedores}"   rows="10"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15">  
                                <p:column headerText="Nro" width="5%" sortBy="#{ob.proveedorID}" >
                                    <h:outputText value="#{ob.proveedorID}" />
                                </p:column>
                                <p:column headerText="Descripcion"  sortBy="#{ob.descripcion}" >
                                    <h:outputText value="#{ob.descripcion}" />
                                </p:column>
                                <p:column headerText="Categoria"  sortBy="#{ob.categoria}" >
                                    <h:outputText value="#{ob.categoria}" />
                                </p:column>
                                <p:column headerText="Telefonos" sortBy= "#{ob.telefonos}" >
                                    <h:outputText value="#{ob.telefonos}" />
                                </p:column>
                                <p:column headerText="Ubicacion" sortBy= "#{ob.ubicacion}" >
                                    <h:outputText value="#{ob.ubicacion}" />
                                </p:column>


                                <p:column style="width:32px">  
                                    <p:commandButton update=":nvobrero:dlgobrero"  action="#{bproveedro.deleteAction(ob)}" icon="icon-edit" title="View" />
                                </p:column> 



                            </p:dataTable>
                        </h:form>





                    </p:panel>
                </p:layoutUnit>

            </p:layout>


        </h:body>

    </f:view>
</html>






